/*----------------------------------------*
 * COLORS
 *----------------------------------------*/
:root {
  --hit: rgba(255, 18, 97, 0.2);
  --miss: rgba(166, 255, 255, 0.7);
}

/*----------------------------------------*
 * BOARD LAYOUT
 *----------------------------------------*/

table {
  margin: 50px auto;
  border-collapse: collapse;
  /* width: calc(53px * 7);  ? Cells are rendered with a size of 53*53! */
}

td {
  width: 35px;
  height: 35px;
  border: 1px dotted black;
  position: relative;
  cursor: crosshair;
}

.victoryTd {
  cursor: not-allowed;
}

td:hover {
  box-sizing: border-box;
  background: rgba(3, 253, 128, 0.521);
  transition: 0.3s all  ease-in-out;
}

td.hit:hover {
  cursor: default;
  background: var(--hit);
  box-shadow: none;
  border: 1px solid black;
}

td.miss:hover {
  cursor: default;
  background: var(--miss);
  box-shadow: none;
  border: 1px solid black;
}

.header_row {
  position: absolute;
  top: .5rem;
  left: -2rem;
  overflow: hidden;
  cursor: default;
  box-sizing: border-box;
}

.header_column {
  position: absolute;
  top: -2rem;
  width: 100%;
  cursor: default;
}

/* Class added to cell when user guess is incorrect */
.miss {
  background: var(--miss);;
}
.miss::after {
  content: "";
  font-size: 2rem;
}

/* Class added to cell when user guesses is correct */
.hit {
  background: var(--hit);;
}
.hit::after {
  content: "🔥";
  font-size: 1.5rem;
  position: relative;
  top: 3px;
}